* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e9ebec;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
}

header > img {
  width: 80px;
  cursor: pointer;
}

.profile {
  width: 631px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.profile-picture {
  border-radius: 50%;
  border: 5px solid #fff;
  width: 192px;
  height: 192px;
}

.profile-info h1 {
  margin: 10px 0;
  font-size: 46px;
}

.job-title {
  font-size: 22px;
  color: gray;
  position: relative;
  left: -65px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 26px;
}

.social-icons img {
  width: 36px;
  height: 36px;
}

.achievements {
  width: 634px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px auto;
  font-size: 24px;
}

.achievement h2 {
  font-size: 22px;
  color: #3a3a3a;
}

.achievement p {
  color: #575757;
  font-size: 22px;
}

.actions {
  margin: 0 auto;
  width: 618px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  gap: 38px;
}

.actions a {
  text-decoration: none;
  width: 290px;
  font-size: 22px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-cv {
  background-color: #fbd144;
  color: #333;
}

.download-cv > img {
  margin-left: 10px;
}

.contact-me {
  background-color: #ffffff;
  color: #333;
}

.tabs {
  width: 760px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  background-color: #FFF;
  padding: 10px;
  border-radius: 10px;
}

.tab {
  background-color: #FFF;
  width: 351.45px;
  padding: 10px 20px;
  color: #19191B;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 22px;
}

.tab.active {
  width: 351.45px;
  height: 80px;
  background-color: #D7D7D7;
  color: #19191B;
  font-size: 22px;
}

.portfolio {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 60%;
  margin: 20px auto;
}

.project {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(50% - 20px);
  border-radius: 10px;
  padding: 10px;
}

.project img {
  border-radius: 10px;
  width: 362px;
}

footer {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 22px;
}
