* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e9ebec;
  color: #333;
  text-align: center;
  transition: background-color 0.3s ease;
}

.header {
  padding: 20px;
}

.header__toggle-button {
  width: 80px;
  cursor: pointer;
  margin-bottom: 20px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.header__toggle-button:hover {
  opacity: 1;
}

.header__toggle-button-path {
  transition: fill 0.5s ease, stroke 0.5s ease;
}

.profile {
  width: 631px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.profile__picture {
  border-radius: 50%;
  width: 192px;
  height: 192px;
}

.profile__info-title {
  margin: 10px 0;
  font-size: 46px;
}

.profile__job-title {
  font-size: 22px;
  color: #575757;
  position: relative;
  left: -78px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 26px;
}

.social-icons__svg-path {
  pointer-events: bounding-box;
  width: 36px;
  height: 36px;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.social-icons__svg-path:hover {
  opacity: 1;
  transform: scale(1.05);
}

.achievements {
  width: 634px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px auto;
  font-size: 24px;
}

.achievement__title {
  font-size: 22px;
  color: #3a3a3a;
}

.achievement__description {
  color: #575757;
  font-size: 22px;
}

.actions {
  margin: 0 auto;
  width: 618px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  gap: 38px;
}

.actions__link {
  text-decoration: none;
  width: 290px;
  font-size: 22px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions__link-download {
  background-color: #fbd144;
  color: #333;
  transition: box-shadow 0.3s ease;
}

.actions__link-download:hover {
  box-shadow: 2px 2px 5px gray;
}

.actions__link-download-icon {
  margin-left: 10px;
}

.actions__link-contact {
  background-color: #ffffff;
  color: #333;
  transition: box-shadow 0.3s ease;
}

.actions__link-contact:hover {
  box-shadow: 2px 2px 5px gray;
}

.tabs {
  width: 760px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.tab {
  background-color: #fff;
  width: 351.45px;
  padding: 10px 20px;
  color: #19191b;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 22px;
  transition: all 0.3s ease;
}

.tab--active {
  width: 351.45px;
  height: 80px;
  background-color: #d7d7d7;
  color: #19191b;
  font-size: 22px;
}

.portfolio {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 60%;
  margin: 20px auto;
}

.portfolio__project {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(50% - 20px);
  border-radius: 10px;
  padding: 10px;
  animation: fadeInScaleUp 1s ease-out;
}

@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.portfolio__project-img {
  border-radius: 10px;
  width: 362px;
}

.portfolio__project-img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio__button-container {
  display: none;
}

.portfolio__scroll-button {
  display: none;
}

.footer {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 22px;
}
